@media screen and (min-width: 600px) {
.titre{
    color:#653A42;
}
.jaune {
    /*border: 2px solid black;*/
    background-color:#DEE5EB;
    height: 900px;

}
.knowledge{
   margin-top: 20px;
    font-size: 24px;
}
.bleu {
    margin-top: 30px;
  /* background-color:#1b6d85;*/
    /*background-image: url("pcm.jpg");*/
    background: #4C4758;
    height: 300px;
    border: solid 1px white;

   /* margin-top: 100px;*/
}
.corps{
    background-color:honeydew;
    height: 300px;
}
.langage,.software{
font-size:24px}
.liens{
    height: 30px;
}
.espace{
    height: 50px;
    font-size: 24px;

}
.photo img{
    border-radius: 100%;
    margin-top: 50px;
}

    .photos {
        /*width: 100px;*/
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        /*margin-right: 20px;*/
        margin-top: 20px;}

   .slider img {

        position: absolute;

        display: none;

        width: 100%;

        height: 100%;

    }

    .slider img:first-of-type {

        display: block;

    }
    .slider {

        position: relative;

        width: 45vw;

        height: 30vw;

        margin: 0 auto;

        margin-top: 50vh;

        transform: translateY(-50%);

        border: 10px solid #fff;

        border-radius: 5px;

        box-shadow: 0 10px 25px rgba(0, 0, 0, 1);

    }


    .photo{
    z-index: 1;
}
.espace1{
    height: 100px
}
#propos{
    color:black;
    text-align: center;
    font-size: 16px;
}
.menu{
    height: 70px;
    /*color:white;*/
   /* background-color:#122b40;*/
    background: white;
    z-index: 100;
    position: fixed;


}
.menu1 a{

    text-decoration: none;
    color:#653A42 ;
}
.nom{
    text-align: center;
    color:white;
    margin-top: 50px;
    font-size: 28px;
    font-family:"Standard Symbols L";
}
/*nav ul li {
display: inline-block;
padding: 0 2em;*/
/*permet de le centrer dans la div*/


nav ul li:hover {
    background: #00939C;
}
/*.formations, .experiences, .competences{
  height: 200px;*/

.bouton .btn{
    box-sizing: border-box;
    font-size: 20px;
    border: 1px solid white;
    background-color: rgba(99, 158, 151, 0.54)
}
.menu1{

    display: flex;
    line-height: 3em;
    font-size: 24px;
    /*display: inline-block;*/
    justify-content: center;
  border-bottom: solid 1px black;
}
.liens{
    margin-top: 20px;
}
.progress-bar {
    /*text-align: left;*/
    transition-duration: 2s;
}


/*les differentes tailles  d'ecran */
@media screen and (max-width: 600px) {
    .menu1{
        display: flex;
        flex-direction: column;
    }
    .competences{
        height: auto;
        color: red;
    }
    /*.menu{
        height: 120px;
        color:white;
        background-color:#122b40;
    }*/
    .corps{
        height: auto;
    }
}
/*timeline*/
/*body {
/*background:#111;*/
/*font-size:18px;
color:black;*/
.menu1{
    display: flex;
    line-height: 3em;
    font-size: 24px;
    /*!*display: inline-block;*!*/
    justify-content: center;
    color:white;
    /*height: 400px;
   width: 100px;*/
}
.menu{
   /* height: 200px;*/
    color:white;
   /* background-color:#122b40;*/
    margin-bottom: 100px;
}

.experiences h1 {
    font-size:2em;
    text-align:center;
    /*margin:20px 0 40px;*/
    padding:0;
}
.experiences {
    background:honeydew;
    border-top: solid 3px white;
}
.right-content, .left-content {
    float:left;
    display:block;
    width:40%;
    padding:1% 2%;
}
.left-content {
    border-right:5px dotted #666;
    text-align:left;
}
.left-content p {
    margin:150px 0 0;
}
.right-content p {
    margin:80px 0 150px;
}
.experiences p {
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7 ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}
.left-content .more-padding {
    padding-right:100px;
}
.right-content .more-padding {
    /*padding-left:100px;*/
}


